
// var(--main-color)

html {
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: $default-font;
    background: $body-bg;
    font-size: $default-size-font;
    color: $body-color;
    line-height: 1.35;
    overflow-x: hidden;
    font-optical-sizing: auto;
    &.m-hidden{
        overflow: hidden;
    }

}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

:-moz-any-link:focus {
    outline: 1px dotted invert;
}

:-moz-any-link:focus {
    outline: none;
}

textarea,
input {
    box-shadow: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

::-webkit-input-placeholder {
    color: #888;
    transition: all 0.3s ease;
}

::-moz-placeholder {
    color: #888;
    transition: all 0.3s ease;
}

:-moz-placeholder {
    color: #888;
    transition: all 0.3s ease;
}

:-ms-input-placeholder {
    color: #888;
    transition: all 0.3s ease;
}

:focus::-webkit-input-placeholder {
    color: transparent
}

:focus::-moz-placeholder {
    color: transparent
}

:focus:-moz-placeholder {
    color: transparent
}

:focus:-ms-input-placeholder {
    color: transparent
}

input:required {
    -webkit-box-shadow: none;
    box-shadow: none
}

input[type="text"]:-webkit-autofill {
    font-size: $default-size-font!important;
}

input[type="text"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover,
input[type="text"]:-webkit-autofill:focus,
input[type="text"]:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    font-size: $default-size-font!important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: 0 0 0px 1000px #fff inset;
}

input:-webkit-autofill::first-line {
    font-size: $default-size-font!important;
}

input[type="submit"] {
    border: 0;
}

button {
    border: 0;
    outline: none;
}

.layout,
.page-popup{
    a:not([class]){
        color: var(--main-color);
        text-decoration: none;
    }
    h1 {
        font-size: 94px;
        font-family: "Unbounded", sans-serif;
        margin: 0 0 43px 0;
        line-height: 1.2;
        font-weight: 400;
    }
    
    h2 {
        font-size: 50px;
        margin: 0 0 38px 0;
        line-height: 1.2;

        font-family: "Unbounded", sans-serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
    }
    
    h3 {
        font-size: 40px;
        // margin: 0 0 40px 0;
        margin: 0 0 24px 0;
        font-family: "Unbounded", sans-serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
    }
    h4 {
        font-size: 24px;
        // margin: 0 0 40px 0;
        margin: 0 0 20px 0;
        font-family: "Unbounded", sans-serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
    }
    
    
    ul {
        margin: 0;
        padding: 0;
        li {
            display: flex;
            align-items: flex-start;
            list-style-type: none;
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
            &:before {
                content: "";
                width: 6px;
                min-width: 6px;
                height: 6px;
                background: #000;
                display: inline-block;
                vertical-align: middle;
                border-radius: 50%;
                margin: 11px 12px 0 5px;
            }
        }
    }
    
   ol{
        margin: 0 0 20px 0;
        padding: 0;
        counter-reset: a;
        &:last-child{
            margin-bottom: 0;
        }
        li{
            margin: 0 0 20px 0;
            padding-left: 30px;
            position: relative;
            list-style-type: none;
            &:last-child{
                margin-bottom: 0;
            }
            &:before{
                counter-increment: a;
                content: counter(a);
                position: absolute;
                left: 0;
                top: 2px;
                color: var(--main-color);
            }
        }
   }
    

    input[type="checkbox"]:not(:checked),
	input[type="checkbox"]:checked{
		position: absolute;
		left: -9999px;
	}
	input[type="checkbox"]:not(:checked) + label,
	input[type="checkbox"]:checked + label{
		position: relative;
		cursor: pointer;
		padding-left: 32px;
		line-height: 23px;
        font-size: 16px;
		display: inline-block;
        a{
            color: #333;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
	}

    input[type="checkbox"]:not(:checked) + label:before{
        background: #E6E6E6;
    }
    input[type="checkbox"]:checked + label:before{
        background: #fff;
    }

	input[type="checkbox"]:not(:checked) + label:before,
	input[type="checkbox"]:checked + label:before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 23px;
		height: 23px;
		border-radius: 5px;
        box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

		z-index: 5;
	}
	input[type="checkbox"]:not(:checked) + label:after,
	input[type="checkbox"]:checked + label:after {
        content: '';
        background: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.91304L4.0303 7.92308L11 1' stroke='%2341DAA4' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E") center no-repeat;
        width: 12px;
        height: 10px;
        display: inline-block;
        position: absolute;
        top: 6px;
        left: 6px;
        z-index: 10;
	}
	input[type="checkbox"]:not(:checked) + label:after {
	    opacity: 0;
	}
	input[type="checkbox"]:checked + label:after {
	    opacity: 1;
	}
}
