<footer class="page-footer">
    <div class="container">
        <div class="page-footer__wrap">
            <div class="page-footer__l">
                <span class="b-logo">
                    <img src="img/svg/b-logo.svg" alt="">
                </span>
                <div class="copy">&copy; 2012-2025 Lechu Group</div>
            </div>
            <div class="p-partners">
               <a href="#" class="p-partners__item">
                    <img src="img/svg/p1.svg" alt="">
               </a>
               <a href="#" class="p-partners__item">
                    <img src="img/svg/p2.svg" alt="">
               </a>
               <a href="#" class="p-partners__item">
                    <img src="img/svg/p3.svg" alt="">
               </a>
            </div>
            <div class="socials">
                <a href="#" class="socials__item">
                    <img src="img/svg/tg-icon.svg" alt="">
                </a>
                <a href="#" class="socials__item">
                    <img src="img/svg/wa-icon.svg" alt="">
                </a>
                <a href="#" class="socials__item">
                    <img src="img/svg/mail-icon.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>
