<header class="page-header">
    <div class="container">
        <div class="page-header__wrap">
            <div class="page-header__l">
                <span class="logo">
                    <img src="img/svg/logo.svg" alt="">
                </span>
                <nav class="top-nav">
                    <a href="#what" class="top-nav__item js-scroll"><span>Что такое CART-T?</span></a>
                    <a href="#why" class="top-nav__item js-scroll"><span>Почему Китай?</span></a>
                    <a href="#about" class="top-nav__item js-scroll"><span>О нас</span></a>
                    <a href="#history" class="top-nav__item js-scroll"><span>Истории пациентов</span></a>
                </nav>
            </div>
            <div class="socials">
                <a href="#" class="socials__item">
                    <img src="img/svg/tg-icon.svg" alt="">
                </a>
                <a href="#" class="socials__item">
                    <img src="img/svg/wa-icon.svg" alt="">
                </a>
                <a href="#" class="socials__item">
                    <img src="img/svg/mail-icon.svg" alt="">
                </a>
            </div>
            <a href="#" class="menu-btn">
                <span class="burger-icon"></span>
            </a>
        </div>
    </div>
</header>

<div class="menu-mobile">
    <nav class="top-nav">
        <a href="#what" class="top-nav__item js-scroll"><span>Что такое CART-T?</span></a>
        <a href="#why" class="top-nav__item js-scroll"><span>Почему Китай?</span></a>
        <a href="#about" class="top-nav__item js-scroll"><span>О нас</span></a>
        <a href="#history" class="top-nav__item js-scroll"><span>Истории пациентов</span></a>
    </nav>
    <div class="socials">
        <a href="#" class="socials__item">
            <img src="img/svg/tg-icon.svg" alt="">
        </a>
        <a href="#" class="socials__item">
            <img src="img/svg/wa-icon.svg" alt="">
        </a>
        <a href="#" class="socials__item">
            <img src="img/svg/mail-icon.svg" alt="">
        </a>
    </div>
</div>