// /*FONT-FAMILY*/
$default-font:"Nunito", sans-serif;
$default-size-font: 20px;
// /*BACKGROUND*/
// $default-site-bg: #fff;
// $alt-site-bg: #7A1774;
// //$default-bg: #eeeeee;
// /*TEXT-COLOR*/
// $base-color: #22140B;
// $alt-color: #7A1774;
// Default variable overrides
$body-bg: #E8E8E8;
$body-color: #333333;